<% content_for :title, "Editing get top album" %>

<h1>Editing get top album</h1>

<%= render "form", get_top_album: @get_top_album %>

<br>

<div>
  <%= link_to "Show this get top album", @get_top_album %> |
  <%= link_to "Back to get top albums", get_top_albums_path %>
</div>
