<p style="color: green"><%= notice %></p>

<% content_for :title, "Get top albums" %>

<h1>Get top albums</h1>

<div id="get_top_albums">
  <% @get_top_albums.each do |get_top_album| %>
    <%= render get_top_album %>
    <p>
      <%= link_to "Show this get top album", get_top_album %>
    </p>
  <% end %>
</div>

<%= link_to "New get top album", new_get_top_album_path %>
