<% content_for :title, "New get top album" %>

<h1>New get top album</h1>

<%= render "form", get_top_album: @get_top_album %>

<br>

<div>
  <%= link_to "Back to get top albums", get_top_albums_path %>
</div>
